.heading-container{
    background-color: black;
    color: aliceblue;
    padding: 30px;
    
}
.name{
    font-size:30px;
    align-items: center;    
    
    
}
.header-options{
    float: right;
    margin-top: 10px;
    color: rgb(235, 46, 46);
    align-items: flex-start;
}
.header-options2{
    margin: 10px;
    color: rgb(236, 187, 122);
    padding: 20px;
    
    
}
.header-options2:hover{
  color: aliceblue;
  transition: 0.5s;
}

.img{
    border: 20px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
  
}

.img-name{
    margin-left: 20px;
    font-size: 15px;
    color: aqua;
    
}
.icon{
    
    margin: 20px;
    font-size: 40px;
    
}
.profile{
    display: inline;
}
.img2{
  /* border: 20px; */
  width: 50px;
  height: 50px;
}
.dropbtn{
  background-color: #333333;
  color: rgb(236, 187, 122);
  padding: 16px;
  font-size: 16px;
  border: none;
}
.dropdown{
  position: relative;
  display: inline-block;
}

.dropdown-content{
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover{background-color: #ddd;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn{background-color: #3e8e41;
  transition: 0.5s;
  color: aliceblue;
  transform: skewX(10deg);
  
}

@import url(//fonts.googleapis.com/css?family=Lato:300:400);

body {
  margin:0;
}

h1 {
  font-family: 'Lato', sans-serif;
  font-weight:300;
  letter-spacing: 2px;
  font-size:48px;
}
p {
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  font-size:14px;
  color: #333333;
}

.header {
  position:relative;
  text-align:center;
  background: linear-gradient(60deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%);
  color:white;
}
.logo {
  width:50px;
  fill:white;
  padding-right:15px;
  display:inline-block;
  vertical-align: middle;
}

.inner-header {
  height:65vh;
  width:100%;
  margin: 0;
  padding: 0;
}

.flex { /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
}

.content {
  position:relative;
  height:20vh;
  text-align:center;
  background-color: white;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  .content {
    height:30vh;
  }
  h1 {
    font-size:24px;
  }
}